body {
  background-color: black;
  color: white;
  --cell-size: 18px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  border: 1px solid black;
  width: var(--cell-size);
  height: var(--cell-size);
  line-height: var(--cell-size);
  font-size: calc(var(--cell-size) + 4px);
  margin: -2px;
  overflow: visible;
  text-align: center;
  padding: 0;
  background-color: #FFF1;
}
