table {
  border-collapse: collapse;
}
table tr td {
  padding: 0;
}
table tr td .cell {
  border: 0.5px solid #0001;
  width: 11px;
  height: 11px;
}

.cell {
}

.cell:not(.thing--snake-head) {
  transition: background-color 2s;
}

.thing--snake-head {
  background-color: blue;
}

.thing--wall {
  background-color: gray;
}

.thing--fruit {
  font-size: 8px;
}

.thing--fruit-apple:before {
  content: '🍎';
}

.thing--fruit-blueberry:before {
  content: '🫐';
}

.thing--fruit-lemon:before {
  content: '🍋';
}
