table {
  border-collapse: collapse;
}
table tr td {
  padding: 0;
}
table tr td .cell {
  border: 0.5px solid #0001;
  width: 11px;
  height: 11px;
}

.cell {
  transition: background-color 2s;
}

.thing--snake-head {
  background-color: blue;
}

.thing--wall {
  background-color: gray;
}
